flows (1).json
[{"id":"ffe069a3.1cdf28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19649add.742b65","type":"ui_form","z":"ffe069a3.1cdf28","name":"","label":"","group":"9d40adf8.f5c1d","order":0,"width":0,"height":0,"options":[{"label":"Enter Name ","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["638accf6.3b4664","e54838da.dbe4f8"]]},{"id":"638accf6.3b4664","type":"debug","z":"ffe069a3.1cdf28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":40,"wires":[]},{"id":"e54838da.dbe4f8","type":"function","z":"ffe069a3.1cdf28","name":"","func":"msg.payload-{\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["ac8f49bc.787468"]]},{"id":"ac8f49bc.787468","type":"cloudant out","z":"ffe069a3.1cdf28","name":"cloudant","cloudant":"","database":"sample","service":"node-red-edoaj-2020--cloudant-1597479589351-39931","payonly":true,"operation":"insert","x":730,"y":160,"wires":[]},{"id":"ccf97b67.337a78","type":"ui_form","z":"ffe069a3.1cdf28","name":"","label":"","group":"8cc8212.3cdcae","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":220,"y":300,"wires":[[]]},{"id":"9d40adf8.f5c1d","type":"ui_group","z":"","name":"Reg form","tab":"15dc4a0c.982e16","order":1,"disp":true,"width":"6","collapse":false},{"id":"8cc8212.3cdcae","type":"ui_group","z":"","name":"Login form","tab":"24be45ae.9aa9fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"15dc4a0c.982e16","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"24be45ae.9aa9fa","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false}]